@import '../../assets/styles/base/mixins';
@import '../../assets/styles/base/variables';

.nav {
    margin-top: 20px;
    &Logo {
        max-width: 150px;
    }
    &Menu {
        display: none;
        border: none;
        padding: 0;
        min-width: 40px;
        min-height: 30px;
        &:hover {
            background-color: transparent;
        }
        & > span:nth-child(-n+3) {
                content: '';
                border-radius: 50px;
                margin-bottom: 5px;
                display: block;
                width: 100%;
                height: 4px;
                background-color: $black-font-color;

        }
    }
    &Bar {
        @include flex-between;
    }

    &Links {
        @include flex-center;
        gap: 30px;

        &Item {
            font-size: 15px;
            text-decoration: none;
            color: inherit;
        }

        &Directions {
            @include flex-center;
            gap: 10px;
            font-weight: 600;
            width: 186px;
            background-color: $yellow-color;
            border: none;
            position: relative;
            height: 50px;
            border-radius: 30px;
            transition: 0.3s;
            cursor: pointer;
            &Icon {
                margin-top: 2px;
            }
            &:hover {
            background-color: $yellow-color-hover
            }
        }

        &Support {
            @include flex-center;
            gap: 10px;
            width: 186px;
            border: none;
            cursor: pointer;
            position: relative;
            height: 50px;

            &Icon {
                margin-top: 2px;

            }
        }
    }

    &Actions {
        display: flex;
        gap: 10px;

        &Item {
            @include flex-center
        }

        &Search {
        }

        &Like {
        }

        &Login {
            width: 114px;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1440px) {
    .nav {
        padding: 10px;
    }
}

@media screen and (max-width: 1110px) {
    .nav {
        &Menu {
            display: block;
        }
        &Links {
            &Item {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 572px) {
    .nav {
        &Bar {
            flex-direction: column;
        }
    }
}