@import '../../assets/styles/base/mixins';
@import '../../assets/styles/base/variables';

.nav {
    margin-top: 20px;
    &-bar {
        @include flex-between;
    }
    &-links {
        @include flex-center;
        gap: 30px;

        &-item {
            text-decoration: none;
            color: inherit;
        }
    }
}
@media screen and (max-width: 1440px) {
    .nav {
        padding: 10px;
    }
}